.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr repeat(4, 1fr) 0.2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border: 1px solid black;
    padding: 10px;
    margin: 0;
    background-color: #080808;

    }
    
    .div1 { grid-area: 1 / 1 / 2 / 6;  border: 1px solid black;
        height: 0;
        width: auto;
       
         }
    .div2 { grid-area: 2 / 1 / 7 / 2; border: 1px solid black; 
        height: 100%;
        background: rgb(255, 165, 0);}
    .div3 { grid-area: 2 / 2 / 3 / 6; border: 1px solid black; 
        height: fit-content;
        background: rgb(255, 165, 0);}
    .div4 { grid-area: 3 / 2 / 4 / 6;  border: 1px solid black;
        height: fit-content;
        background: rgb(255, 165, 0);}
    .div5 { grid-area: 4 / 2 / 5 / 6;  border: 1px solid black;
        height: fit-content;
        background: rgb(255, 165, 0);}
    .div6 { grid-area: 5 / 2 / 6 / 6;  border: 1px solid black;
        height: fit-content;
        background: rgb(255, 165, 0);}
    