form{
  position: fixed;
}
.contain:nth-child(even) {

color: #cec112;
 
}
.contain:nth-child(odd) {
  color: rgb(109, 102, 109);
  
}
h1:{
  position: relative;
  margin: 10px;
  font-size: 30px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}